.btn {
  background-image: var(--primary);

  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 8rem;
    display: inline-block;
    border-radius: 0.45rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    //Change for the <button> elemnent
    border: none;
    cursor: pointer;

    @include respond(phone) {
      padding: 1.5rem 4rem;
    }
  }
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    &::after {
      transform: scale(1.5);
      opacity: 0;
    }
  }
  &:active,
  &:focus {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  &--primary {
    background-image: var(--primary);
    color: $color-white;
  }
}
